/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

/* 헤더 */
header {
    position: relative;
    width: 100%;
    height: 142px;
    background: url('../images/head_top_line.png') no-repeat;            
}

header > .logo {
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -95px;
}

header > p {
    float: right;
    margin-top: 16px;
}
header > p > a {
    padding: 0 5px;
}
header > .text {
    float: right;
    clear: both;
    margin-top: 26px;
}
header > .gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
header > .gnb > li {  
    position: relative;
    float: left;      
    width: 20%;
    height: 100%;
    background-image: url('../images/head_menu_line.png');
    background-repeat: no-repeat;
    background-position: 0 -7px;
}

/* 장보기 뱃지 */
header > .gnb > li:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 37px;
    height: 34px;
    top: -16px;
    left: 98px;

    background-image: url('../images/head_menu_badge.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header > .gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-position: 0 8px;
    background-repeat: no-repeat;
}
header > .gnb > li:nth-child(1) > a { background-image: url('../images/head_menu1.png'); }
header > .gnb > li:nth-child(2) > a { background-image: url('../images/head_menu2.png'); }
header > .gnb > li:nth-child(3) > a { background-image: url('../images/head_menu3.png'); }
header > .gnb > li:nth-child(4) > a { background-image: url('../images/head_menu4.png'); }
header > .gnb > li:nth-child(5) > a { background-image: url('../images/head_menu5.png'); }
header > .gnb > li:nth-child(1) > a:hover { background-image: url('../images/head_menu1_ov.png'); }
header > .gnb > li:nth-child(2) > a:hover { background-image: url('../images/head_menu2_ov.png'); }
header > .gnb > li:nth-child(3) > a:hover { background-image: url('../images/head_menu3_ov.png'); }
header > .gnb > li:nth-child(4) > a:hover { background-image: url('../images/head_menu4_ov.png'); }
header > .gnb > li:nth-child(5) > a:hover { background-image: url('../images/head_menu5_ov.png'); }


/* 메인 */
main {
    width: 100%;
    min-height: 500px;
}

main > div {
    width: 100%;
    margin-bottom: 10px;
}

/* 서브 페이지 */
#sub {
    width: 100%;
    min-height: 650px;
}

/* 서브 상단 이미지 */
#sub > div {
    position: relative;
    width: 100%;
    height: 184px;

    background-image: url('../images/sub_top_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#sub > div > img {
    position: absolute;
    left: 10px;
    top: 130px;
}

/* 본문 전체 */
#sub > .introduce {
    width: 980px;
    height: 650px;
    overflow: hidden;
}

/* 왼쪽 사이드 */
#sub > .introduce > aside {
    float: left;
    width: 176px;
    height: 650px;
    background: url("../images/sub_aside_bg_line.png") no-repeat right top;
}

#sub > .introduce > aside > img {
    width: 130px;
    height: 45px;
    margin-top: 16px;
    margin-left: 16px;
}

#sub > .introduce > aside > ul {
    width: 175px;
    height: 233px;
    margin-top: 20px;
    background: url("../images/sub_aside_bg_lnb.png") no-repeat;
    padding-top: 26px;
    box-sizing: border-box;
}

#sub > .introduce > aside > ul > li {
    width: 175px;
    height: 29px;
    margin-bottom: 6px;
}

/* lnb 링크 공통 */
#sub > .introduce > aside > ul > li > a {
    display: block;
    width: 175px;
    height: 29px;
    font-size: 0;
}

/* 기본 이미지 */
#sub > .introduce > aside > ul > li:nth-child(1) > a {
    background-image: url('../images/sub_cate5_lnb1.png');
}

#sub > .introduce > aside > ul > li:nth-child(2) > a {
    background-image: url('../images/sub_cate5_lnb2.png');
}
#sub > .introduce > aside > ul > li:nth-child(3) > a {
    background-image: url('../images/sub_cate5_lnb3_ov.png');
}
#sub > .introduce > aside > ul > li:nth-child(4) > a {
    background-image: url('../images/sub_cate5_lnb4.png');
}
#sub > .introduce > aside > ul > li:nth-child(5) > a {
    background-image: url('../images/sub_cate5_lnb5.png');
}

/* hover */
#sub > .introduce > aside > ul > li:nth-child(1) > a:hover {
    background-image: url('../images/sub_cate5_lnb1_ov.png');
}

#sub > .introduce > aside > ul > li:nth-child(2) > a:hover {
    background-image: url('../images/sub_cate5_lnb2_ov.png');
}
#sub > .introduce > aside > ul > li:nth-child(3) > a:hover {
    background-image: url('../images/sub_cate5_lnb3_ov.png');
}
#sub > .introduce > aside > ul > li:nth-child(4) > a:hover {
    background-image: url('../images/sub_cate5_lnb4_ov.png');
}
#sub > .introduce > aside > ul > li:nth-child(5) > a:hover {
    background-image: url('../images/sub_cate5_lnb5_ov.png');
}

/* 현재 페이지 */

#sub > .introduce > aside > ul > li.on:nth-child(3) > a {
    background-image: url('../images/sub_cate5_lnb3_ov.png');
}


/* 오른쪽 본문 */
#sub > .introduce > article {
    float: right;
    width: 802px;
    height: 990px;
    padding-left: 40px;
    box-sizing: border-box;
}

#sub > .introduce > article > nav {
    position: relative;
    width: 762px;
    height: 72px;
    border-bottom: 1px solid #c2c2c2;
}

#sub > .introduce > article > nav > img {
    position: absolute;
    left: 0;
    top: 41px;
    height: 26px;
}

#sub > .introduce > article > nav > p {
    position: absolute;
    right: 0;
    top: 30px;
    color: #666;
}

#sub > .introduce > article > nav > p img {
    vertical-align: middle;
}

#sub > .introduce > article > nav > p strong {
    font-weight: bold;
    color: #91ba15;
}

#sub > .introduce > article > .intro-img {
    display: block;
    width: 759px;
    height: 162px;
    margin-top: 40px;
}

#sub > .introduce > article p {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    margin-top: 14px;
}

#sub > .introduce > article p strong {
    color: #91ba15;
    font-weight: bold;
}

#sub > .introduce > article h3 {
    color: #91ba15;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

/* direction 전용 */
#sub > .introduce > article .content {
    margin-top: 40px;
}

#sub > .introduce > article .content strong {
    color: #91ba15;
    font-weight: bold;
}

#sub > .introduce > article .map-title {
    margin-top: 16px;
    margin-bottom: 6px;
}

#daumRoughmapContainer1668214668575 {
    width: 760px;
    height: 400px;
}
#sub > .introduce > section > section:nth-of-type(1){
    width: 762px;
    height: 197px;
    background-color: #f9f9f9;
    border: #e3e3e3 1px solid;
    display: flex;
    
}
#sub > .introduce > article > section:nth-of-type(2){
    width: 762px;
    height: 178px;
    background-color: #f9f9f9;
    border: #e3e3e3 1px solid;
}

/* 푸터 */
footer {
    position: relative;
    width: 100%;
    height: 120px;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
}

footer > img {
    position: absolute;
    left: 0;
    top: 1px;
    width: 174px;
    height: 64px;
}

footer > div {
    position: absolute;
    left: 254px;
    top: 27px;
    width: 710px;
    height: 71px;
}

footer > div > p {
    position: absolute;
    left: -20px;
    top: 0px;
    width: 710px;
    height: 48px;
    color: #585858;
    font-size: 10px;
    line-height: 18px;
}

footer .copyright {
    position: absolute;
    left: 0;
    top: 55px;
    width: 273px;
    height: 14px;
    color: #888888;
    font-size: 10px;
    line-height: 14px;
}

footer .version {
    position: absolute;
    left: 620px;
    top: 54px;
    width: 90px;
    height: 14px;
    color: #888888;
    font-size: 10px;
    line-height: 14px;
}